/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

.home-title,
.msg h2 {
    font-family: 'Montserrat', Helvetica, sans-serif;
}

.home-title {
    font-size: 2em;
    margin-top: 10px;
}

.book,
.join {
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.msg {
    padding: 35px;
    line-height: 1.5em;
}

.msg p {
    font-size: 0.8em;
    padding-bottom: 15px;
}

#logo_link {
    padding-top: 5px;
}

nav a {
    padding: 35px;
}

.icon {
    padding-top: 10px;
}

.rivers-card,
.camping-card,
.rapids-card {
    margin: 200px 0;
}

footer {
    padding: 25px 50px;
    margin-top: 200px;
}

footer .social img {
    padding-top: 15px;
}

.card-img {
    border: 10px solid #388e3c; /* Replace with your desired color */
}

main section img {
    box-sizing: border-box;
}
