@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap');

.home-grid {
  display: grid;
  justify-content: center; 
}

.home-grid h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.content-container {
  display: flex;
  max-width: 2400px; 
  margin: 0 auto;
}

.left-column, .right-column {
  flex: 1;
}

.left-column {
  width: 50%;
}

.right-column {
  width: 50%;
}

.left-column .image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-column img {
  max-width: 100%; 
  height: auto;
}

.right-column {
  text-align: left;
}

body {
    font-family: 'Lato', Arial, sans-serif;
    background-color: #F9F5EB;
    margin: 0;
    font-size: 22px;
    padding: 0;
}

h2 {
    margin: 0;
    color: #283618;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

/* Header */
header {
    font-family: 'Montserrat', Helvetica, sans-serif;
    background-color: #283618;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

nav {
    display: flex;
    align-items: center;
}

/* Navigation Links */
nav a {
    text-align: center;
    color: #F9F5EB;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 5px;
}

nav a:hover {
    background-color: #DDA15E;
    color: #283618;
}

/* Buttons */
.button-box {
    text-align: center;
}

.book,
.join {
    background-color: #BC6C25;
    color: #F9F5EB;
    font-size: 18px;
    text-decoration: none;
    padding: 15px 30px;
    display: inline-block;
    border-radius: 5px;
    margin-top: 50px;
}

main section img {
    box-sizing: border-box;
}

.book:hover,
.join:hover {
    background-color: #DDA15E;
    color: #283618;
}

/* Message Background */
#background {
    height: 725px;
    background-color: #F9F5EB;
}

/* Main Content */
main section {
    text-align: center;
}

/* Footer */
footer {
    background-color: #283618;
    color: #F9F5EB;
    text-align: center;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    font-size: 1.2em;
}

footer a {
    color: #F9F5EB;
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
    color: #DDA15E;
}

footer .social img {
    padding-top: 15px;
}

/* Icons and Logo */
.logo,
.icon {
    width: 80px;
}

.icon {
   padding-top: 10px; 
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.card-img {
  width: 40%;
  height: auto;
}

.card-img {
    border: 10px solid transparent;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #283618;
    margin: 20px;
}

.card-img-long {
    width: 300px;
    height: auto;
    border: 10px solid transparent;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #283618;
    margin: 20px;
}

.banner-img {
    width: 1600px;
    height: 300px;
    border: 10px solid transparent;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #283618;
    margin: 20px;
}
